# IDE Files
Thumbs.db
.idea
.DS_Store
*.bak
*.bak.php
*.~
*.php~
.svn
*.log
.vscode
.readme
*.tar.gz
.claude
.specify
.kiro
vendor
/nbproject/private/

# Temporary Files
/portable/config/main-local.php
/portable/config/params-local.php

/product/config/main-local.php
/product/config/params-local.php
/product/web/*.php
/product/web/assets/

/wms/config/main-local.php
/wms/config/params-local.php
/wms/web/

/frontend/config/main-local.php
/frontend/config/params-local.php
/frontend/web/*.php
/frontend/web/assets/*
!/frontend/web/assets/images
!/frontend/web/assets/img
!/frontend/web/assets/sf

/ac/config/main-local.php
/ac/config/params-local.php
/ac/web/

/api/web/

/apps/index.php

/console/config/main-local.php
/console/config/params-local.php

/progress/*

/resources/node_modules
